<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Lista de Productos</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  </head>

  <body>
    <header>
      <div class="bg-dark text-white py-4 text-center">
          <h1 class="display-4">Lista ventas</h1>
          <p class="lead">Seleccione una opcion:</p>
      </div>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">SIVBA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/vendedor/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin">Administracion</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <main>
      <div class="container">
        <div class="text-center">
          <a href="/vendedor/add_venta/" class="btn btn-primary btn-lg text-white">Iniciar nueva venta</a>
          <a href="/vendedor/" class="btn btn-dark btn-lg text-white">Volver al menu</a>
        </div>
        <br>
        <table class="table table-striped table-bordered table-dark">
          <thead class="thead-dark text-center">
            <tr>
              <th>Fecha</th>
              <th>Monto pagado</th>
              <th>Vendedor</th>
              <th>Tipo de recibo</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="text-center tbody-dark">
            {% for v in ventas %}
            <tr>
              <td>{{ v.fecha }}</td>
              <td>${{ v.monto_pagado }}</td>
              <td>{{ v.usuario.username }}</td>
              {% if v.factura is not None %}
              <td>Factura</td>
              {% else %}
              <td>Boleta</td>
              {% endif %}
              <td>
                <a name="" id="" href="/edit_venta/{{ v.id }}" role="button">Continuar venta</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>

    <footer>
      <!-- place footer here -->
    </footer>

    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>