<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
  <title>Tu Tienda de Monitos - Vendedor</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <!-- Bootstrap CSS v5.2.1 -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
    crossorigin="anonymous"
  />
</head>
<body>
  <header>
    <div class="bg-dark text-white py-4 text-center">
      <h1 class="display-4">¡Bienvenido a Tu Tienda de Monitos de la Nona!</h1>
      <p class="lead">Selecciona una opción:</p>
    </div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">SIVBA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/vendedor/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Administracion</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
  <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card bg-dark mb-4 mx-auto" style="width: 18rem">
            <img src="{% static 'venta.jpg' %}" class="card-img-top" alt="Hacer Venta" />
            <div class="card-header bg-primary text-white text-center">
              <h2 class="mb-0">Hacer Venta</h2>
            </div>
            <div class="card-body text-center text-white">
              <p>Ve la ventas sin terminar o empieza una nueva</p>
              <a href="read_ventas/" class="btn btn-warning btn-block">
                Iniciar Venta
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card bg-dark mb-4 mx-auto" style="width: 18rem">
            <img src="{% static 'producto.jpg' %}" class="card-img-top" alt="Revisar Productos" />
            <div class="card-header bg-primary text-white text-center">
              <h2 class="mb-0">Revisar Productos</h2>
            </div>
            <div class="card-body text-center text-white">
              <p>¡Revisa la lista de productos disponibles!</p>
              <a href="/vendedor/read_productos/" class="btn btn-warning btn-block">Ver Productos</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        <div class="col-md-4 text-center">
          <a href="/" class="btn btn-dark btn-lg btn-block text-white">Volver Al Inicio</a>
        </div>
      </div>
    </div>
  </main>

  <footer class="text-center py-4">
    <div class="alert alert-dark" role="alert">
      Derechos reservados a Grupo SIVBA, INACAP 2023
    </div>
  </footer>

  <!-- Bootstrap JavaScript Libraries -->
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"
  ></script>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
    crossorigin="anonymous"
  ></script>
</body>
</html>
